<ion-content>
  <ion-list>
  
    <ion-item>
      <div class="login-bg">
        <ion-img src="assets/img/logonya.png"></ion-img>
      </div>
    </ion-item>
  </ion-list>
  
  <ion-grid class="grid">
<ion-row>
  <ion-col>

    <ion-list>
      <ion-item>
        <div color="secondary"  slot="start">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </div>
        <ion-label position="floating">Username</ion-label>
        <ion-input type="text" ionInput></ion-input>
      </ion-item>
      <ion-item>
        <div color="secondary"  slot="start">
          <ion-icon slot="icon-only" name="lock-closed"></ion-icon>
      </div>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    
    <ion-button  type="submit" expand="secondary" color="danger" class="ion-margin-top" (click)="login()">Login</ion-button>
  </ion-col>
</ion-row>
  </ion-grid>
</ion-content>